html{
    font-family: 'Open Sans', sans-serif;
}

#website-logos {
    float: right;
    position: relative;
    padding-top: 40px;
    padding-right: 40px;
}

#website-logos :hover {
    background-image: url('../images/logoclick.png');
    margin-bottom: 25px;
}

header {
    height: 150px;
}

.logo1 {
    max-width: 150%;
    position: relative;
    padding-bottom: 25px;
    float: left;
    padding: 20px;
}

.logo2 {
  display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#nav-links {
    max-width: 50%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.45em;
    font-weight: 600;
    text-indent: 90px;
    float: right;
    padding: 20px;
    background-color: #5994bc;
    border: 20px #23668c;
    border-bottom-style: ridge;
}

#nav-links li {
	float: left;
}

#nav-links li a {
	color: #fff;
	text-decoration: none;
}

#nav-links li a:hover {
	text-decoration: none;
    color: #8dc3ea;
}

main {
    background-color: #e1e2e1;
    padding-top: 75px;
    padding-bottom: 75px;
}

#scroll-images {
    overflow: scroll;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: white;
    line-height: 1.5em;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 200;
    color: white;
    line-height: 1.5em;    
}

footer {
    width: 100%;
    position: relative;
    background-color: #8c8279;
    height: 200px;
}

#left-footer {
	float: left;
	width: 30%;
    padding: 40px;
}

#right-footer {
    position: relative;
	float: right;
	width: 30%;
    padding: 40px;
}


@media screen and (max-width:800px) {   

.container {
    width: 800px;
}
  
  #website-logos {
    float: bottom-left;
    position: relative;
    padding-top: 40px;
    padding-right: 40px;
}

#website-logos :hover {
    background-color: #bcb1a8;
}
  
main {
    height: 350px;
    background-color: #fff;
    float: center;
}

#nav-links {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: .5em;
    font-weight: 600;
}

h4 {
    font-size: 50;
}

h5 {
    font-size: 50%;
}

footer {
    height: 150px;
}
}

@media screen and (max-width:350px) {

header {
    height: 40px;
    background-color: #2b6ca3;
  }
  
.logo1 {
    display: none;
}

.logo2 {
    max-width: 5%;
    padding-bottom: 25px;
    float: center;
    padding: 20px;
}
  

}


