@font-face {
    font-family: 'Open Sans', san-serif;
    src: url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,700&display=swap);
}

html{
    font-family: 'Open Sans', sans-serif;
}

#website-logos {
    float: right;
    position: relative;
    padding-top: 40px;
    padding-right: 40px;
}

#website-logos :hover {
    background-image: url('../images/logoclick.png');
    margin-bottom: 30px;
}

header {
    height: 150px;
}

.logo1 {
    max-width: 150%;
    position: relative;
    padding-bottom: 25px;
    float: left;
    padding: 20px;
}

.logo2 {
  display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#nav-links {
    max-width: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.45em;
    font-weight: 600;
    text-indent: 40px;
    float: left;
    padding: 20px;
    background-color: #5994bc;
    border: 20px #23668c;
    border-bottom-style: ridge;
}

#nav-links li {
	float: left;
}

#nav-links li a {
	color: #fff;
	text-decoration: none;
}

#nav-links li a:hover {
	text-decoration: none;
    color: #8dc3ea;
}

.splide__slide h3 {
  font-size: 2em;
  font-weight: 600;
  padding: auto;
  color: white;
  float: bottom-left;
  margin-top: 500px;
}

.splide__slide {
  width: 100%;
}

#slideshow {
  width: 100%;
  background-color: #e1e2e1;
  padding-top: 75px;
  padding-bottom: 75px;
}

main {
  background-color: #e1e2e1;
  padding-top: 75px;
  padding-bottom: 75px;
    
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: white;
    line-height: 1.5em;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 200;
    color: white;
    line-height: 1.5em;    
}

footer {
    width: 100%;
    position: relative;
    background-color: #8c8279;
    height: 200px;
}

#left-footer {
	float: left;
	width: 30%;
    padding: 40px;
}

#right-footer {
    position: relative;
	float: right;
    float: bottom;
	width: 30%;
    padding: 40px;
}

article h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 1em;
}

table, th, td {
    border: 1px solid black;
    padding: 0.5em;
}

table {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

article {
    position: relative;
    margin-top: 1em;
    padding-bottom: 75px;
}

article p {
    position: relative;
	float: right;
    line-break: strict;
    text-indent: 1.5em;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.event_desc {
    color: #23668c;
}

@media screen and (max-width:780px) {   
.container {
    width: 100%;
}
  
#website-logos {
    position: relative;
    padding-top: 40px;
    padding-right: 40px;
}

.logo1 {
    max-width: 60%;
    position: relative;
 }

#nav-links {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-indent: 30px;
}

main {
    background-color: #e1e2e1;
    padding-top: 50px;
    padding-bottom: 50px;
}


h4 {
    font-size: 75%;
}

h5 {
    font-size: 75%;
}

footer {
    height: 150px;
}
}

@media screen and (max-width:150px) {
.container{
    width: 100%;
    position: relative;
}

header {
    height: 40px;
    background-color: #2b6ca3;
  }
  
.logo1 {
    max-width: 80%;
    position: relative;
    padding-top: 60px;
    padding-left: 40px;
 }

#website-logos {
    display: none;
}

#nav-links {
    float: left;
}

#scroll-images {
    height: 40%;
}

h4 {
    font-size: 58%;
}

h5 {
    font-size: 58%;
}

footer {
    width: 100%;
	height: 200px;
    position: relative;
   }

#left-footer {
	float: left;
	width: 22%;
}

#right-footer {
    position: relative;
	float: right;
	width: 28%;
}
}

* Image Slider */
@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__container{position:relative;box-sizing:border-box}.splide__list{margin:0!important;padding:0!important;width:-webkit-max-content;width:max-content;will-change:transform}.splide.is-active .splide__list{display:flex}.splide__pagination{display:inline-flex;align-items:center;width:95%;flex-wrap:wrap;justify-content:center;margin:0}.splide__pagination li{list-style-type:none;display:inline-block;line-height:1;margin:0}.splide{visibility:hidden}.splide,.splide__slide{position:relative;outline:none}.splide__slide{box-sizing:border-box;list-style-type:none!important;margin:0;flex-shrink:0}.splide__slide img{vertical-align:bottom}.splide__slider{position:relative}.splide__spinner{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display:inline-block;width:20px;height:20px;border-radius:50%;border:2px solid #999;animation:splide-loading 1s linear infinite}.splide__track{position:relative;z-index:0;overflow:hidden}.splide--draggable>.splide__track>.splide__list>.splide__slide{-webkit-user-select:none;user-select:none}.splide--fade>.splide__track>.splide__list{display:block}.splide--fade>.splide__track>.splide__list>.splide__slide{position:absolute;top:0;left:0;z-index:0;opacity:0}.splide--fade>.splide__track>.splide__list>.splide__slide.is-active{position:relative;z-index:1;opacity:1}.splide--rtl{direction:rtl}.splide--ttb>.splide__track>.splide__list{display:block}.splide--ttb>.splide__pagination{width:auto}.splide__arrow{position:absolute;z-index:1;top:50%;transform:translateY(-50%);border:none;padding:0;background:transparent}.splide__arrow svg{width:2.5em;height:2.5em;fill:#2;transition:fill .2s linear}.splide__arrow:hover{cursor:pointer}.splide__arrow:hover svg{fill:#57e1d9}.splide__arrow:focus{outline:none}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide__slider>.splide__arrows .splide__arrow--prev{left:-2.5em}.splide__slider>.splide__arrows .splide__arrow--next{right:-2.5em}.splide__pagination{position:absolute;z-index:1;bottom:1em;left:50%;transform:translateX(-50%);padding:0}.splide__pagination__page{display:inline-block;width:20px;height:5px;background:#ccc;border-radius:2.5px;margin:3px;padding:0;transition:all .2s linear;border:none}.splide__pagination__page.is-active{background:#20b2aa}.splide__pagination__page:hover{cursor:pointer;background:#57e1d9}.splide__pagination__page:focus{outline:none}.splide__progress__bar{width:0;height:3px;background:#20b2aa}.splide{padding:3em}.splide__slide{border-radius:4px}.splide__spinner{border:2px solid #20b2aa;border-left-color:transparent}.splide--nav>.splide__track>.splide__list>.splide__slide{border:3px solid #fff;cursor:pointer;opacity:.7;border-radius:4px}.splide--nav>.splide__track>.splide__list>.splide__slide.is-active{border-color:#20b2aa;opacity:1}.splide--nav>.splide__track>.splide__list>.splide__slide:focus{outline:none}.splide--rtl>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev{right:1em;left:auto}.splide--rtl>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:scaleX(1)}.splide--rtl>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next{left:1em;right:auto}.splide--rtl>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next svg{transform:scaleX(-1)}.splide--ttb>.splide__arrows .splide__arrow,.splide--ttb>.splide__track>.splide__arrows .splide__arrow{left:50%;transform:translate(-50%)}.splide--ttb>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev{top:1em}.splide--ttb>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:rotate(-90deg)}.splide--ttb>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next{top:auto;bottom:1em}.splide--ttb>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next svg{transform:rotate(90deg)}.splide--ttb>.splide__pagination{display:flex;flex-direction:column;bottom:50%;left:auto;right:1em;transform:translateY(50%)}.splide--ttb>.splide__pagination .splide__pagination__page{width:5px;height:20px}

* Color Wheel */
.mdc-components {
  box-sizing: border-box;
  display: flex;
  font-family: Roboto;
  margin: 64px auto;
  width: 1664px;
}
.mdc-components__section {
  display: flex;
}
.mdc-components__column {
  display: flex;
  height: 664px;
  flex-direction: column;
  margin: 0 8px;
  width: 400px;
}
.mdc-components .flex {
  flex: 1;
  box-sizing: border-box;
}
.mdc-components p {
  color: #616161;
  font-size: 14px;
  font-weight: bold;
}

.mdc-component > p {
  color: #616161;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0;
}
.mdc-component__section {
  align-items: center;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  height: 400px;
  position: relative;
  overflow: hidden;
  width: 400px;
}
.mdc-component__section--size-narrow {
  height: 152px;
}
.mdc-component__section__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
}
.mdc-component__section__content__frame {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.mdc-component__section--size-full {
  height: 620px;
}
.mdc-component__containers {
  align-items: flex-start;
  display: flex;
  height: 292px;
  flex-direction: row;
}
.mdc-component__containers__primary__only p {
  display: none;
}
.mdc-component__containers__primary, .mdc-component__containers__secondary {
  display: flex;
  align-items: center;
}
.mdc-component__containers__primary > p, .mdc-component__containers__secondary > p {
  color: #616161;
  font-size: 11px;
  font-weight: bold;
}
.mdc-component__containers__primary__only {
  margin-top: 40px;
}
.mdc-component__containers__secondary {
  margin-left: 80px;
}
.mdc-component__containers__primary, .mdc-component__containers__secondary {
  flex-direction: column;
}
.mdc-component__containers__primary > p, .mdc-component__containers__secondary > p {
  margin: 25px 0 15px;
}
.mdc-component__containers__primary > *[class^="mdc-"]:not(:nth-child(2)), .mdc-component__containers__secondary > *[class^="mdc-"]:not(:nth-child(2)) {
  margin-top: 40px;
}
.mdc-component__containers[dir-horizontal] {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary__only {
  margin-top: 0;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary {
  margin-left: 0;
  margin-top: 12px;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary, .mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary {
  flex-direction: row;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary > p, .mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary > p {
  margin: 0 16px 0 0;
  text-align: right;
  width: 60px;
}
.mdc-component__containers[dir-horizontal] .mdc-component__containers__primary > *[class^="mdc-"], .mdc-component__containers[dir-horizontal] .mdc-component__containers__secondary > *[class^="mdc-"] {
  margin-top: 0;
  margin-right: 60px;
}
*, :after, :before {
  box-sizing: inherit;
}
@media all and (max-width: 1712px) {
  .mdc-components {
    margin: 32px auto;
    width: 832px;
  }
  .mdc-components__section {
    flex-direction: column;
  }
  .mdc-components__column {
    margin-bottom: 64px;
  }
}
@media all and (max-width: 880px) {
  .mdc-components {
    flex-direction: column;
    width: 416px;
  }
}

    .mdc-component__buttons .mdc-component__containers__primary .mdc-button,
    .mdc-component__buttons .mdc-component__containers__primary .mdc-fab {
      background-color: #5994bc;
      color: #000000;
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--plain,
    .mdc-component__buttons .mdc-component__containers__primary .mdc-fab--plain {
      background-color: transparent;
      color: #5994bc;
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button,
    .mdc-component__buttons .mdc-component__containers__secondary .mdc-fab {
      background-color: #bcb1a8;
      color: #000000;
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--plain,
    .mdc-component__buttons .mdc-component__containers__secondary .mdc-fab--plain {
      background-color: transparent;
      color: #bcb1a8;
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--raised.mdc-ripple-upgraded::before,
    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--raised.mdc-ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.06);
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--plain.mdc-ripple-upgraded::before,
    .mdc-component__buttons .mdc-component__containers__primary .mdc-button--plain.mdc-ripple-upgraded::after {
      background-color: rgba(89, 148, 188, 0.06);
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-fab.mdc-ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.16);
    }

    .mdc-component__buttons .mdc-component__containers__primary .mdc-fab--plain.mdc-ripple-upgraded::after {
      background-color: rgba(89, 148, 188, 0.16);
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--raised.mdc-ripple-upgraded::before,
    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--raised.mdc-ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.06);
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--plain.mdc-ripple-upgraded::before,
    .mdc-component__buttons .mdc-component__containers__secondary .mdc-button--plain.mdc-ripple-upgraded::after {
      background-color: rgba(188, 177, 168, 0.06);
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-fab.mdc-ripple-upgraded::after {
      background-color: rgba(0, 0, 0, 0.16);
    }

    .mdc-component__buttons .mdc-component__containers__secondary .mdc-fab--plain.mdc-ripple-upgraded::after {
      background-color: rgba(188, 177, 168, 0.16);
    }
  
  .mdc-component__selection .mdc-component__containers__primary__only .mdc-snackbar {
    transform: translate(-50%,-100%);
  }

  .mdc-component__selection .mdc-snackbar {
    left: auto !important;
    transform: translate(-28%,-164%);
    position: absolute;
    min-width: 240px;
    margin-left: -16px;
    width: 240px;
  }

  .mdc-component__selection .mdc-snackbar__secondary {
    transform: translate(-28%,-40%);
  }

  .mdc-component__selection .mdc-snackbar__text,
  .mdc-component__selection .mdc-snackbar__action-button {
    opacity: 1;
    font-size: 12px;
  }
  
    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox__native-control:checked:not(:disabled) ~ .mdc-checkbox__background,
    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox__native-control:indeterminate:not(:disabled) ~ .mdc-checkbox__background,
    .mdc-component__switches .mdc-component__containers__primary .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
      background-color: #5994bc;
      border-color: #5994bc;
    }

    .mdc-component__switches .mdc-component__containers__primary .mdc-switch__native-control:checked~.mdc-switch__background::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-switch__native-control:checked~.mdc-switch__background .mdc-switch__knob::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-switch__native-control:checked~.mdc-switch__background .mdc-switch__knob {
      background-color: #5994bc;
    }

    .mdc-component__switches .mdc-component__containers__primary .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__outer-circle {
      border-color: #5994bc;
    }

    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox__background::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-radio__background::before {
      background-color: #5994bc;
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox__native-control:checked:not(:disabled) ~ .mdc-checkbox__background,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox__native-control:indeterminate:not(:disabled) ~ .mdc-checkbox__background,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
      background-color: #bcb1a8;
      border-color: #bcb1a8;
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-switch__native-control:checked~.mdc-switch__background::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-switch__native-control:checked~.mdc-switch__background .mdc-switch__knob::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-switch__native-control:checked~.mdc-switch__background .mdc-switch__knob {
      background-color: #bcb1a8;
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__outer-circle {
      border-color: #bcb1a8;
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox__background::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio__background::before {
      background-color: #bcb1a8;
    }

    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox.mdc-ripple-upgraded--unbounded::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-checkbox.mdc-ripple-upgraded--unbounded::after,
    .mdc-component__switches .mdc-component__containers__primary .mdc-radio.mdc-ripple-upgraded--unbounded::before,
    .mdc-component__switches .mdc-component__containers__primary .mdc-radio.mdc-ripple-upgraded--unbounded::after {
      background-color: rgba(89, 148, 188, 0.14);
    }

    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox.mdc-ripple-upgraded--unbounded::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-checkbox.mdc-ripple-upgraded--unbounded::after,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio.mdc-ripple-upgraded--unbounded::before,
    .mdc-component__switches .mdc-component__containers__secondary .mdc-radio.mdc-ripple-upgraded--unbounded::after {
      background-color: rgba(188, 177, 168, 0.14);
    }
  
  .mdc-component__cards .mdc-card {
    background-color: #ffffff;
    height: 316px;
    width: 262px;
  }

  .mdc-component__cards .mdc-card__title,
  .mdc-component__cards .mdc-card__subtitle {
    font-size: 11px;
    line-height: 17px;
  }

  .mdc-component__cards .mdc-card__subtitle {
    color: #707070;
  }

  .mdc-component__cards .mdc-card__header {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 0 16px 20px;
  }

  .mdc-component__cards .demo-card__avatar {
    background: #bdbdbd;
    height: 40px;
    width: 40px;
    margin-right: 12px;
    border-radius: 50%;
  }

  .mdc-component__cards .mdc-card__supporting-text {
    font-size: 10px;
  }

  .mdc-component__cards .demo-card--with-avatar .mdc-card__title,
  .mdc-component__cards .demo-card--with-avatar .mdc-card__subtitle {
    margin-left: 56px;
  }

  .mdc-component__cards .mdc-card__actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px 16px 16px;
  }

  .mdc-component__cards .mdc-card__media {
    height: 140px;
    overflow: hidden;
    padding: 0
  }

  .mdc-component__cards .mdc-card__media .material-image {
    top: 64px;
    position: relative;
  }

  .mdc-component__cards .mdc--theme-primary {
    background-color: #5994bc;
    color: #000000;
  }

  .mdc-component__cards .mdc--theme-secondary {
    background-color: #bcb1a8;
    color: #000000;
  }

  .mdc-component__cards .material-image .material-image__background {
    fill: #23668c;
  }

  .mdc-component__cards .material-image .material-image--shape-circle,
  .mdc-component__cards .material-image .material-image--shape-triangle {
    fill: #5994bc;
  }

  .mdc-component__cards .material-image .material-image--shape-intersection {
    fill: #23668c;
  }

  .mdc-component__cards .mdc-button--raised.mdc--theme-primary.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.06);
  }

  .mdc-component__cards .mdc-button--raised.mdc--theme-secondary.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.06);
  }
  
  .mdc-component__menu .mdc-toolbar {
    background-color: #bcb1a8;
    z-index: 1;
  }

  .mdc-component__menu .mdc-toolbar {
    height: 56px;
    padding: 16px;
  }

  .mdc-component__menu .mdc-permanent-drawer {
    border-right: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 3;
  }

  .mdc-component__menu .mdc-backdrop {
    background-color: rgba(0, 0, 0, .50);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .mdc-component__menu .nav-header {
    height: 140px;
    position: relative;
    overflow: hidden;
  }

  .mdc-component__menu .nav-header .material-image {
    position: relative;
    top: -50px;
  }

  .mdc-component__menu .mdc-permanent-drawer {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .mdc-component__menu .mdc-list-item {
    font-weight: 400;
  }

  .mdc-component__menu .mdc-list-item.mdc-ripple-upgraded {
    left: 0;
  }

  .mdc-component__menu .mdc-list-item.mdc-ripple-upgraded::before,
  .mdc-component__menu .mdc-list-item.mdc-ripple-upgraded::after {
    background-color: rgba(89, 148, 188, 0.06);
  }

  .mdc-component__menu .mdc-permanent-drawer .mdc-permanent-drawer--selected::before,
  .mdc-component__menu .mdc-permanent-drawer .mdc-list-item:active::before {
    background-color: #5994bc;
    opacity: .16;
  }

  .mdc-component__menu .mdc-permanent-drawer--selected.mdc-list-item .mdc-list-item__start-detail,
  .mdc-component__menu .mdc-permanent-drawer .mdc-permanent-drawer--selected {
    color: inherit;
  }

  .mdc-component__menu .material-image__background {
    fill: #23668c;
  }

  .mdc-component__menu .material-image--shape-circle,
  .mdc-component__menu .material-image--shape-triangle {
    fill: #5994bc;
  }

  .mdc-component__menu .material-image--shape-intersection {
    fill: #23668c;
  }
  
  .mdc-component__textfield .mdc-component__containers {
    margin-top: 40px;
  }

  .mdc-component__textfield .mdc-component__containers__secondary {
    padding: 17px 0;
  }

  .mdc-component__textfield .mdc-component__containers p {
    padding-bottom: 20px;
  }

  .mdc-component__textfield .mdc-textfield {
    margin-right: 14px !important;
  }

  .mdc-component__textfield .mdc-textfield__input {
    width: 264px;
  }

  .mdc-component__textfield .mdc-textfield__label {
    bottom: 12px;
  }

  .mdc-component__textfield .mdc-textfield--theme-primary .mdc-textfield__label {
    color: #5994bc;
  }

  .mdc-component__textfield .mdc-textfield--theme-primary .mdc-textfield:not(.mdc-textfield--upgraded) .mdc-textfield__input:focus {
    border-color: #5994bc;
  }

  .mdc-component__textfield .mdc-textfield--theme-secondary .mdc-textfield__label {
    color: #bcb1a8;
  }

  .mdc-component__textfield .mdc-textfield--theme-secondary .mdc-textfield:not(.mdc-textfield--upgraded) .mdc-textfield__input:focus {
    border-color: #bcb1a8;
  }
  
  .mdc-component__toolbar .app-bar {
    background-color: #23668c;
    display: block;
    height: 20px;
    width: 100%;
  }

  .mdc-component__toolbar .mdc-toolbar {
    height: 56px;
    padding: 16px;
    flex-direction: row;
    align-items: center;
  }

  .mdc-component__toolbar .mdc-toolbar__section {
    align-items: center;
  }

  .mdc-component__toolbar .mdc-toolbar__title {
    padding-left: 8px;
  }

  .mdc-component__toolbar .material-icons {
    color: #000000;
  }

  .mdc-component__toolbar .material-image {
    position: relative;
    top: -64px;
  }

  .mdc-component__toolbar main {
    background-color: white;
    height: calc(100% - 48px);
  }

  .mdc-component__toolbar .cover-image__frame {
    display: block;
    height: 220px;
    position: relative;
    width: 100%;
  }

  .mdc-component__toolbar .cover-image {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .mdc-component__toolbar .mdc-fab {
    position: absolute;
    bottom: -25px;
    right: 28px;
  }

  .mdc-component__toolbar .content {
    font-size: 13px;
    line-height: 20px;
    padding: 50px 35px;
  }

  .mdc-component__toolbar .mdc-component__section__content__frame::before {
    bottom: 0;
    content: "";
    background-image: url(//storage.googleapis.com/demos-in-spec/images/android-bottom.png);
    background-repeat: no-repeat;
    height: 48px;
    position: absolute;
    width: 100%;
    z-index: 9999999;
  }

  .mdc-component__toolbar .mdc--theme-primary {
    background-color: #5994bc;
    color: #000000;
  }

  .mdc-component__toolbar .mdc--theme-secondary {
    background-color: #bcb1a8;
    color: #000000;
  }

  .mdc-component__toolbar .material-image .material-image__background {
    fill: #8c8279;
  }

  .mdc-component__toolbar .material-image .material-image--shape-circle,
  .mdc-component__toolbar .material-image .material-image--shape-triangle {
    fill: #efe3d9;
  }

  .mdc-component__toolbar .material-image .material-image--shape-intersection {
    fill: #8c8279;
  }

  .mdc-component__toolbar .mdc-icon-toggle::before,
  .mdc-component__toolbar .mdc-icon-toggle::after {
    background-color: rgba(0, 0, 0, 0.06);
  }

  .mdc-component__toolbar .mdc-fab.mdc--theme-primary.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.16);
  }

  .mdc-component__toolbar .mdc-fab.mdc--theme-secondary.mdc-ripple-upgraded::after {
    background-color: rgba(0, 0, 0, 0.16);
  }
  

